#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background-color: #121212; 
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  cursor: pointer;
}

.app-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #00000066;
}

